/atividadePratica1.class
/olaMundo.class
/operadoresAritmeticos.class
/operadoresLogicos.class
/operadoresRelacionais.class
/atividadePratica1_segundoModo.class
/atividadePratica2.class
/atividadePratica2_segundoModo.class
/atividadePratica3.class
/atividadePratica3_segundoModo.class
/atividadePratica4.class
/atividadePratica4_segundoModo.class
/atividadePratica5.class
/atividadePratica5_segundoModo.class
/exFixacao1.class
/exFixacao2.class
/exFixacao3.class
/exFixacao4.class
