/atividadePratica1.class
/olaMundo.class
/operadoresAritmeticos.class
/operadoresLogicos.class
/operadoresRelacionais.class
/atividadePratica1_segundoModo.class
/atividadePratica2.class
/atividadePratica2_segundoModo.class
